*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: auto;
}
.banner-area{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
}
.banner{
    display: flex;

}
.banner-text{
    width: 50%;
}
.banner-text h1{
    font-size: 50px;
    padding-top: 40px;
}
.banner-text .heading-name{
    color: #ffa500;
}
.banner-text h3{
    padding: 20px 0px;
}
.banner-text p{
    color:#7f7a73;
    margin-bottom: 10px;
    text-align: justify;
}
.banner-text .btn{
    padding-top: 20px;
}
.banner-text .btn a{
    color: #ffffff;
    font-weight: 700;
    padding: 12px 40px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border: 1px solid;
    border-radius: 7px;
}
.banner-img{
    width: 45%;
    margin-right: 5%;
}

.banner-area_2{
    margin: 80px 0px;
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* Experiences Section css code start from here */
.experiences_area{
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
    margin: 60px 0px;
}
.experiences_area h1{
    font-size: 50px;
}
.experience{
    margin-top: 25px;
    display: flex;
}
.full-stack{
    width: 45%;
    margin-right: 5%;
    text-align: justify;
    padding: 10px;
    box-shadow: 10px 6px 35px  gray;
    border-left: 6px solid;
    border-image: linear-gradient(180deg
    , rgba(255, 2, 2, 0.932), rgb(255, 154, 71));
    border-image-slice: 1;
    
}
.experience h2{
    font-size: 38px;
    margin: 20px 0px;
}
.experience h3{
    color:#ffaa0e;
    margin: 10px 0px;
}
.experience p{
    color: #7f7a73;
}
.baby-developer{
    width: 45%;
    margin-left: 5%;
    text-align: justify;
    padding: 10px;
    box-shadow: 10px 6px 35px  gray;
    border-left: 6px solid;
    border-image: linear-gradient(180deg
    , rgba(6, 2, 255, 0.932), rgb(71, 227, 255));
    border-image-slice: 1;
}
/* Experiences Section css code end here */

.footer{
    text-align: center;
}
.footer span{
    color: red;
}